* {
    box-sizing: border-box;
}

.container, .menu a {
    background-color: tomato;
    width: 100%;
}
.menu::after {
    content: "";
    display: block;
    clear: both;
}
.menu, .menu ul {
    list-style-type: none;
}
.menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 15px;
}

.menu li {
    position: relative;
}
.menu > li {
    float: left;
}
.menu ul {
    position: absolute;
}
.menu ul a {
    width: 250px;
}
.menu li+li {
    border-top: 1px solid white;
}
.menu > li ul {
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.menu > li ul {
    top:100%;
    left: 0;
}
.menu ul ul {
    left: 84%;
    top: 0;
}
.menu >li:hover >ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}

.menu ul >li:hover >ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}